.main {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: calc(100vw - 2rem);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.line {
  width: 80%;
  border: 1px solid #585858;
}

.poster {
  margin-top: 1.5rem;
  width: 80%;
  height: 45vh;
  background: linear-gradient(161.32deg, #4082b7 6.43%, #1d69a5 87.57%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .rect {
    background-color: #c4c4c4;
    height: 70%;
    width: 30%;
    transform: rotate(-22.92deg);
    z-index: 2;
    //   box-shadow: -8px 8px 5px -2px rgba(11, 56, 91, 0.9);
  }
  .rectShadow {
    z-index: 1;
    position: absolute;
    top: 30%;
    //   bottom: auto;
    left: 30%;
    //   right: auto;
    width: 28%;
    height: 60%;
    //   transform: rotate(-22.92deg);
    //   background-color: #000;
    background: #0b3e66;
    filter: blur(27px);
    transform: rotate(-22.92deg);
  }
  .img {
    position: absolute;
  }
  .img--bottle1 {
    top: 0;
    right: 0;
  }
  .img--bottle2 {
    bottom: 0;
    left: 0;
  }
  .img--bottle3 {
    bottom: 0;
    right: 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .title {
    margin: 1.7em 0 0.2em 0;
    width: 80%;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 136.2%;
    /* or 44px */

    color: #ffffff;
  }
  .description {
    width: 80%;
    font-family: 'Belgrano', serif;
    font-size: 15px;
    line-height: 193.7%;
    color: #c4cacf;
  }
  .reviews {
    width: 80%;
    display: flex;
    align-items: center;
    .rating {
      padding: 0.25rem 0.5rem;
      background-color: #079741;
      border-radius: 20px;
    }
    h3 {
      margin: 0 0.8rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      line-height: 16px;
      text-align: center;
      color: #ffffff;
    }
    p {
      margin: 0;
      font-family: 'DM Sans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 175.7%;
      color: #424648;
    }
  }
}

.price {
  display: flex;
  width: 80%;
  margin: 1.2em 0;
  // justify-content: space-evenly;
  .amount {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 39px;
  }
  .actualPrice {
    font-weight: bold;
    color: #ffffff;
    padding: 0 1em 0 0.5em;
  }
  .initialPrice {
    font-weight: 500;
    text-decoration-line: line-through;
    color: #3c464f;
  }
}

.options {
  width: 90vw;
  min-height: 34vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.5vh;
}
.btn {
  width: 85%;
  border: none;
  margin-bottom: 5rem;
  background: #13324a;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0px 1px 15px rgba(2, 2, 2, 0.04), inset 0px 0px 15px rgba(88, 88, 88, 0.3);
}
